/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: var(--section-background-color);
  color: var(--white-color);
}


@media (max-width: 767px) {
  .about-img {
    padding-top: 0;
  }
}