.tech-icons {
    font-size: 4.5em;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 2px solid var(--text-color);
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    width: 17%;
    display: table;
    box-shadow: 0px 0px 18px 2px var(--scrollbar-color);
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px;
    }
}

.tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid var(--scrollbar-color);
}

.tech-icon-images {
    padding: 20px;
    line-height: 1.6;
}