.alert-success {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--global-alert-success);
    color: var(--white-color);
}

.alert-error {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--global-alert-fail);
    color: var(--white-color);
}

.alert-info {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--global-alert-info);
    color: var(--white-color);
}