/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--background-top-bar);
  height: 60px;
  z-index: 1;
  position: fixed;
  bottom: 0;
}

.footer-copyright {
  font-size: 1em;
  height: 20px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  min-width: 375px;
}

.footer-signature {
  margin-left: 4px;
  color: var(--text-color);
}

@media (max-width: 767px) {

  .footer-copyright,
  .footer-contact {
    text-align: center;
  }

}