/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--background-top-bar);
  height: 60px;
  z-index: 1;
  position: absolute;
}

.footer-copyright {
  font-size: 1em;
  height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  min-width: 375px;
}

.footer-signature {
  margin-left: 4px;
  color: var(--text-color);
}

.footer-contact .contacts-text {
  opacity: 0;
  transition: opacity 2s;
  transition-timing-function: ease-in;
}

.footer-contact .contacts-text:hover {
  color: #fff;
  opacity: 1;
  text-shadow: 4px 4px 8px var(--text-color);
}

.contacts-icons {
  position: relative;
  display: flex;
  cursor: pointer;
  list-style-type: none;
  width: 380px;
  padding: 0px;
  height: 30px;
  margin-top: 14px;
  align-items: center;
  justify-content: center;
}

.contacts-icons .contacts-text {
  display: none;
}

.contacts-icons:hover .contacts-text {
  display: flex;
}

.contacts-icons__block {
  position: absolute;
  left: 0px;
}

.contacts-icons__block-left,
.contacts-icons__block-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 20px;
  color: white;
  top: -10px;
  font-size: 25px;
  transition: 0.6s;
}

.contacts-icons__block-left {
  clip-path: inset(0 30% 0 0);
}

.contacts-icons__block-right {
  margin-left: 30px;
  clip-path: inset(0 0 0 40%);
}

.contacts-icons:hover .contacts-icons__block-left {
  transform: translateX(-50%) scale(1.2);
}

.contacts-icons:hover .contacts-icons__block-right {
  transform: translateX(50%) scale(1.2);
}

@media (max-width: 767px) {

  .footer-copyright,
  .footer-contact {
    text-align: center;
  }

}