:root {
  --text-color: #53b8e7;
  --scrollbar-color: #3b8aaf;
  --background-color: rgb(15, 39, 58);
  --background-top-bar: #192850;
}

html {
  --imp-text-color: var(--text-color);
  overflow-x: hidden;
}

b {
  color: var(--imp-text-color);
}


/* --------- */
/* Scrollbar */
/* --------- */
#no-scroll {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-top-bar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
  border-radius: 12px;
}