.solar-system {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    right: -300px;
    bottom: 0px;
}

.orbit {
    border: 1px dashed var(--orbit-color);
}

#sun,
.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute;
}

#sun,
.orbit,
.orbit+div {
    top: 50%;
    left: 50%;
}

.orbit+div>div {
    top: 0;
    left: 50%;
}

.orbit,
.orbit+div div,
#earth {
    border-radius: 50%;
}

#sun {
    height: 200px;
    width: 200px;
    background-color: var(--sun-color);
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 84px orange;
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 38px var(--earth-color);
}

.earth-orbit,
.earth-spin {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
}

#moon {
    margin-top: -6px;
    margin-left: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 0 30px var(--white-color);
}

.moon-orbit,
.moon-spin {
    height: 90px;
    width: 90px;
    margin-top: -45px;
    margin-left: -45px;
    border-color: var(--moon-border);
}

/* Add CSS for Mercury */
#mercury {
    margin-top: -13.5px;
    margin-left: -13.5px;
    height: 25px;
    width: 25px;
    background-color: var(--mercury-color);
    box-shadow: 0 0 26px 6px var(--mercury-color);
}

.mercury-orbit,
.mercury-spin {
    width: 280px;
    height: 280px;
    margin-left: -140px;
    margin-top: -140px;
}

/* Add CSS for Venus */
#venus {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    background-color: var(--venus-color);
    box-shadow: 0 0 30px var(--venus-color);
}

.venus-orbit,
.venus-spin {
    margin-top: -185px;
    margin-left: -185px;
    width: 370px;
    height: 370px;
}

/* Add CSS for Mars */
#mars {
    margin-top: -16px;
    margin-left: -16px;
    height: 32px;
    width: 32px;
    background-color: var(--mars-color);
    box-shadow: 0 0 26px 6px var(--mars-color);
}

.mars-orbit,
.mars-spin {
    width: 700px;
    height: 700px;
    margin-left: -350px;
    margin-top: -350px;
}

/* Add CSS for Jupiter */
#jupiter {
    margin-top: -45px;
    margin-left: -45px;
    height: 100px;
    width: 100px;
    background-color: var(--jupiter-color);
    box-shadow: 0 0 46px var(--jupiter-color);
}

.jupiter-orbit,
.jupiter-spin {
    margin-top: -450px;
    margin-left: -450px;
    width: 900px;
    height: 900px;
}

/* Add CSS for Saturn */
#saturn {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -45px;
    margin-left: -45px;
    background-color: var(--saturn-color);
    box-shadow: 0 0 46px var(--saturn-color);
}

.saturn-ring {
    position: absolute;
    top: 16%;
    left: -20%;
    transform-origin: 0 50%;
    height: 68px;
    width: 140px;
    border: 8px solid var(--saturn-ring-color);
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
}

.saturn-orbit,
.saturn-spin {
    margin-top: -600px;
    margin-left: -600px;
    width: 1200px;
    height: 1200px;
}

/* Add CSS for Uranus */
#uranus {
    margin-top: -45px;
    margin-left: -45px;
    height: 90px;
    width: 90px;
    background-color: var(--uranus-color);
    box-shadow: 0 0 46px var(--uranus-color);
}

.uranus-orbit,
.uranus-spin {
    margin-top: -700px;
    margin-left: -700px;
    width: 1400px;
    height: 1400px;
}

/* Add CSS for Neptune */
#neptune {
    margin-top: -35px;
    margin-left: -35px;
    height: 70px;
    width: 70px;
    background-color: var(--neptune-color);
    box-shadow: 0 0 30px var(--neptune-color);
}

.neptune-orbit,
.neptune-spin {
    margin-top: -810px;
    margin-left: -810px;
    width: 1600px;
    height: 1600px;
}

/* Spinning animations */

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

.earth-spin,
.moon-spin,
.mercury-spin,
.venus-spin,
.mars-spin,
.jupiter-spin,
.saturn-spin,
.uranus-spin,
.neptune-spin {
    will-change: transform;
}

.earth-spin {
    animation: spin-right 4s linear infinite;
}

.moon-spin {
    animation: spin-right 0.7s linear infinite;
}

.mercury-spin {
    animation: spin-right 2.264s linear infinite;
}

.venus-spin {
    animation: spin-right 2.672s linear infinite;
}

.mars-spin {
    animation: spin-right 6.052s linear infinite;
}

.jupiter-spin {
    animation: spin-right 12.954s linear infinite;
}

.saturn-spin {
    animation: spin-right 32.07s linear infinite;
}

.uranus-spin {
    animation: spin-right 91.62s linear infinite;
}

.neptune-spin {
    animation: spin-right 180s linear infinite;
}